@import '../js/assets/styles.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

.align-items-center {
    align-items: center;
}

.border-1 {
    border-width: 1px;
}

.border-b-1 {
    border-bottom-width: 1px;
}

.w-72 {
    width: 18rem;
}

:root {
    --primary-color-rgb: 34, 211, 238;
    --hover-transition-duration: 400ms;
    --hover-card-scale: 1.03;
    --hover-image-scale: 1.05;
    --hover-image-rotate-y: 6deg;
}
